<div>
    <header>
        
        <h1>Bienvenido a la Página de Prueba</h1>
    </header>
    <article>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac libero id nunc pharetra vulputate et ut nisl. Integer laoreet fermentum magna, at posuere nisl consectetur ut. Sed non semper justo, eget gravida ligula. Nulla facilisi. Phasellus non quam id arcu mollis tristique. Integer efficitur, ex ac vestibulum convallis, metus libero facilisis libero, vel faucibus purus arcu a ligula. Donec ut mi felis. Cras tristique ex vel libero molestie, ac consectetur odio egestas.
    </p>
    <p>
        Vestibulum vitae ante et eros fermentum aliquet. Maecenas vulputate lacus id sapien scelerisque, sit amet laoreet erat convallis. Integer at efficitur sapien, non maximus sem. Donec quis tincidunt leo, id laoreet felis. Nullam at libero ac ex malesuada vestibulum. Morbi rutrum, eros eu vehicula congue, ligula eros bibendum erat, at convallis risus neque a sapien. Sed euismod orci ut ultricies pretium. Suspendisse potenti. Aliquam erat volutpat. Phasellus sit amet nisi quis nunc dignissim bibendum ut in lectus.
    </p>
    <p>
        Quisque quis sapien eget turpis tincidunt consequat. Etiam iaculis lectus ut ex interdum, a venenatis ante blandit. Sed in velit non lacus auctor hendrerit. Nullam vehicula odio vel diam hendrerit, in fermentum felis aliquet. Pellentesque et nulla ut urna luctus convallis. Mauris ultricies augue et fringilla fermentum. Suspendisse vitae consequat libero. Fusce nec vestibulum eros. Morbi non purus a enim condimentum blandit. Ut id ante risus.
    </p>
    <p>
        Aliquam sodales libero a augue gravida, vel aliquet dui lacinia. Proin congue felis ac nunc efficitur malesuada. Duis sit amet interdum justo. Sed at turpis nisi. Vestibulum faucibus turpis sit amet odio malesuada, ac sollicitudin mi euismod. Nam finibus orci non nisl dignissim, vitae porttitor nisi ornare. Sed non risus non lorem consectetur blandit. Nulla facilisi. Curabitur id interdum metus. Nam nec luctus orci.
    </p>
    <p>
        Cras fermentum, ipsum nec feugiat dictum, dolor orci interdum quam, in hendrerit libero odio ac mi. Proin ultricies pulvinar lorem, nec sodales nisi auctor non. Integer sit amet fermentum dui. Donec vel nunc odio. Vestibulum id ligula vitae quam tincidunt efficitur. Sed ut orci ut turpis faucibus iaculis sit amet ac tortor. Sed suscipit nisi non est varius, ut mollis ligula scelerisque. Curabitur eget arcu euismod, fermentum turpis ac, scelerisque purus.
    </p>
    </article>
    @defer(on viewport){
        <app-comments></app-comments>
    }
    @placeholder {
        <p>Futuros Comentarios</p>
    }
    @loading {
        <p>Cargando Comentarios...</p>
    }
    <footer>
        &copy; 2024 Página de Prueba. Todos los derechos reservados.
    </footer>
</div>